#page-landing {
    width: 100vw; /*forçamos a cor a cobrir toda a tela*/
    height: 100vh; /*forçamos a cor a cobrir toda a tela*/
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%); /*copiamos a cor original do projeto direto do figma*/

    /*vai centralizar tanto horizontalmente como verticalmente*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative; /*p q fiquem relativo ao q ja tiver */

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px; /*altura máxima*/

    display: flex;
    align-items: flex-start; /**/
    flex-direction: column; /*coloca um elemento em cima do outro*/
    justify-content: space-between; /*vai jogar um bloco em cima, u, no meio e outro em baixo*/

    background: url('../../images/landing.svg') no-repeat 80% center;
 }

 #page-landing .content-wrapper main {
     max-width: 350px;
 }

 #page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 48px;
    font-size: 24px;
    line-height: 34px;
}



.content-wrapper .location { /*colocou o BH e MG*/
    position: absolute;
    right: 0;
    top: 0;
   /*estilizando*/
    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;

    text-align: right;
}

.content-wrapper .location strong {
    font-weight: 800;
}

.content-wrapper .enter-app { /*colocou o texto e a seta em baixo*/
    position: absolute;
    right: 0;
    bottom: 0;
    /*Estilizações*/
    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s; 
}

.content-wrapper .enter-app:hover {
    background: #96FEFF;
}